*{
    box-sizing: 0;
}
body{
    margin:0;
    font-family: 'popping',sans-serif;
}
.Navbar{
    height:70px;
    display:flex;
    padding:10px;
    background-color: white;
    font-size: 18px;
    box-shadow: 5px 5px 5px rgb(81, 79, 80);
}
.name--title{
    color:rgb(240, 10, 114);
    padding:3px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
section{
    padding:20px;

}
main>.section--line{
    display: flex;
    flex-direction: column;
}
.main--photo{
    max-width: 400px;
    align-self:center;
}
.main--header{
    margin-top:0;
}
.card{
    width:175px;
    font-size:12px;
    padding:20px;

}
.card--img{
   
   width:100%;
    border-radius: 9px;
} 
.card--status{
    
    align-items: center;
} 
.card--star{
    width: 10px;
    padding:1px;
}
